.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ------------------------PRODUCT STYLING------------------------------------- */

.navbar_comp {
  height: 8vh;
  background-color: rgb(185, 228, 180) !important;
}

.search_button {
  margin-left: 24%;
  margin-right: 12%;
  width: 40%;
  border-radius: 1rem;
  outline: none;
  height: 7vh;
  text-align: center;
  outline: none;
}

.button_comp {
  cursor: pointer;
  border-radius: 15px;
}

.button_comp:hover {
  background-color: rgb(193, 230, 231);
  color: rgb(24, 21, 201);
}

.container {
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.categories {
  margin: 70px 0;
}

.product_list-container {
  max-width: 90%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.col-4 {
  flex-basis: 25%;
  padding: 30px;
  min-width: 300px !important;
  max-width: 320px !important;
  margin-bottom: 50px;
  position: relative;
}

.col-4 > div {
  margin: auto;
}

.col-4 > h4 {
  text-align: center;
}

.col-4 img {
  width: 100%;
  height: 300px;
  max-height: 300px;
}

.product_list-container h2 {
  color: #555;
  font-weight: normal;
  text-align: center;
}

.col-4 p {
  font-size: 14px;
  text-align: center;
}

.cart-button {
  font-size: 30px;
  background-color: rgb(231, 216, 190);
  border-radius: 20%;
  width: 20%;
  position: absolute;
  bottom: 5.5rem;
  right: -4rem;
  opacity: 0;
  transition: 0.5s;
}

.view_detail-button {
  font-size: 30px;
  background-color: rgb(231, 216, 190);
  width: 92.5%;
  position: absolute;
  top: -2.5rem;
  opacity: 0;
  transition: 1s;
}

.col-4:hover .cart-button {
  bottom: 9rem;
  right: 1.4rem;
  opacity: 0.5;
}

.col-4:hover .view_detail-button {
  top: 35%;
  /* right: 1.4rem; */
  opacity: 0.7;
}

/* ------------------------------PRODUCT DETAIL STYLING------------------------ */

.detail_container {
  max-width: 50%;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

.detail_row {
  display: flex;
  background-color: rgb(219, 243, 219);
}

.column-2 {
  flex: 50% !important;
  margin: auto;
}

.single_product {
  margin-top: 80px;
}

.single_product .column-2 h1 {
  margin-top: 30px;
}

.single_product .column-2 img {
  padding: 0;
  max-height: 380px;
  /* background-size: contain; */
  max-width: 380px;
}

.single_product .column-2 {
  padding: 0px;
}

.single_product_child {
  border-radius: 2rem;
}

.single_product_child h4 {
  text-align: center;
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}
